*,
*::after
*::before{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
li::marker{
    text-decoration: none;
}
.header{
    display: block;
    width: 100%;
    max-width: 1348px;  
}
body {
    background: #FFFCF6;
}
h2{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 60px;
    color: #0B1D03;
}
.wallpaper{
    display: block;
    position: absolute;
    width: 100%;
    height: 600px;
    left: 0px;
    top: 0px;
    background: linear-gradient(0deg, rgba(31, 31, 31, 0.5), rgba(31, 31, 31, 0.5)), url(../img/mesa\ cafe.png);
    background-repeat: no-repeat;
    background-size: 1348px;
    color: #FFFFFF;
}
.header-list-def{
    display: flex;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 40px;
    top:28px;
}
.header-list-log{
    position: absolute;
    width: 152px;
    height: 28px;
    left: 578px;
    top: 28px;
}
.header-list-sac{
    display: flex;
    position: absolute;
    width: 18px;
    height: 20px;
    left: 1250px;
    top: 28px;
}
.header-list-items{
    position: absolute;
    width: 80px;
    height: 4px;
    left: 80px;
    top: 200px;
    background: url(../img/Group\ 13.png);
    background-repeat: no-repeat;
    background-size: 80px;
}
h1{
    position: absolute;
    width: 704px;
    height: 264px;
    left: 80px;
    top: 180px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    line-height: 56px;
    letter-spacing: 0.02px;
}
.paragraph-wall{
    position: absolute;
    width: 459px;
    height: 40px;
    left: 80px;
    top: 378px;
    font-family: 'Lato';
    font-style: normal;
    font-size: 23px;

}
.botão_1{
    display: flex;
    position: absolute;
    width: 56px;
    height: 56px;
    left: 76px;
    top:504px;
    border:none;
    background-color:transparent; 
}
.botão_2{
    display: flex;
    position: absolute;
    width: 56px;
    height: 56px;
    left: 160px;
    top:504px;
    border:none;
    background-color:transparent; 
}
/*Fim do Header*/
/*Começo do Main - Seção 2*/
main{
    display: flex;
  }
main .about_us{
    display: flex;
}
.coffee-machine{
    display: flex;
    position: absolute;
    width: 547px;
    height: 436px;
    left: 60px;
    top: 828px;
    background: url(../img/cafeteira.png);
    background-repeat: no-repeat;
    background-size: 545px ;
}
.cafe-magico{
    display:  flex;
    position: absolute;
    width: 340px;
    height: 60px;
    left: 768px;
    top: 777px;
    font-size: 56px;
}
.p-1{
    display: flex;
    position: absolute;
    width: 350px;
    height: 160px;
    left: 768px;
    top: 898px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #0B1D03;
}
/*________________________________*/
.muito-mais{
    display: flex;
    position: absolute;
    width: 348px;
    height: 60px;
    left: 126px;
    top: 1438px;
    font-size: 56px;
}
.p-2{
    position: absolute;
    width: 375px;
    height: 120px;
    left: 126px;
    top: 1568px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
}
.xicara-de-cafe{
    display: flex;
    position: absolute;
    width: 545px;
    height: 434px;
    left: 748px;
    top: 1485px;

    background: url(../img/xicara\ de\ cafe.png);
    background-repeat: no-repeat;
    background-size: 545px;
}
/*Fim da Seção 2*/
/*Início da Seção 3*/
.product-container{
    display: block;
    width: 100%;
    max-width: 1348xp;
}
.variedades{
    display: flex;
    position: absolute;
    width: 581px;
    height: 60px;
    left: 80px;
    top: 2095px;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 60px;
    color: #A0996C;
}
.product-container-items{
    display: inline-flex;
    justify-content: space-between;
    position: absolute;
    width: 1136px;
    height: 894px;
    left: 80px;
    top: 2295px;
 
}.marca{
    display: flex;
    position: absolute;
    height: 28px;
    width: 278px;
    left: 75px;
    top: 5px;
}
.product{
    display: flex;
    position: absolute;
    height: 178px;
    width: 146px;
    left: 117px;
    top: 85px;
    border-radius: 0px;
    background-size: 146px;
}

.buttongreen{
    display: flex;
    position: absolute;
    background: #0B1D03;
    border-radius: 4px;
    border: none;
    color: white;
    height: 56px;
    width: 335px;
    left: 19px;
    top: 340px;
    text-align: center;
    font-family: 'Lato';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    padding: 12px 0px 15px 62px;

}

.price1{
    display: flex;
    position: absolute;
    height: 40px;
    width: 84px;
    left: 130px;
    top: 238px;
    font-size: 25px;
    font-family: 'Lato';
    font-weight: bold;
    font-style: normal;
    color: #0B1D03;
}

.price2{
    display: flex;
    position: absolute;
    height: 28px;
    width: 66px;
    left: 205px;
    top: 239px;
    font-size: 20px;  
    font-family: 'Lato';
    font-weight: bold;
    font-style: normal;  
    color: #969696 ;
}
h4{
    position: absolute;
    left: 19.83%;
    right: 19.61%;
    top: 7.14%;
    bottom: 87.86%;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #0B1D03; 
}
.backprod1{
    display: flex;
    position: absolute;
    height: 425px;
    width: 375px;
    top: 0px;
    left: 0px;
    border-radius: 8px;
    background: #F7F1E6;
    align-items: center;
}
.backprod2{
    display: flex;
    position: absolute;
    height: 425px;
    width: 375px;
    top: 0px;
    left: 400px;
    border-radius: 8px;
    background: #F7F1E6;
    align-items: center;
}
.backprod3{
    display: flex;
    position: absolute;
    height: 425px;
    width: 375px;
    top: 0px;
    left: 800px;
    border-radius: 8px;
    background: #F7F1E6;
    align-items: center;
}
.backprod4{
    display: flex;
    position: absolute;
    height: 425px;
    width: 375px;
    top: 455px;
    left: 0px;
    border-radius: 8px;
    background: #F7F1E6;
    align-items: center;
}
.backprod5{
    display: flex;
    position: absolute;
    height: 425px;
    width: 375px;
    top: 455px;
    left: 400px;
    border-radius: 8px;
    background: #F7F1E6;
    align-items: center;
}
.backprod6{
    display: flex;
    position: absolute;
    height: 425px;
    width: 375px;
    top: 455px;
    left: 800px;
    border-radius: 8px;
    background: #F7F1E6;
    align-items: center;
}
.servicos{
    display: block;
    position: absolute;
    width: 100%;
    height: 730px;
    top: 3300px;
    left: 0px;
    background: #FFFCF6;
}
a:link{
    color: #0B1D03;
}
.text-center{ 
    display: inline-flex;
    position: absolute;
    left: 15px;
    top: 60px;
    text-align: center;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 0.02em;
}
.text-center-1{
    display: flex;
    position: relative;
    left: 19%;
}
.text-center-2{
    display: flex;
    position: relative;
    left: 50%;
}
.text-center-3{
    display: flex;
    position: relative;
    left: 83%;
}
.text-center-4{
    display: flex;
    position: relative;
    left: 103%;
}
.text-center-5{
    display: flex;
    position: relative;
    left: 122%;
}
.servicos-items{
    display: inline-flex;
    text-decoration: none;
    position: absolute;
    bottom: 718px;
}
.caminhao{
    display: flex;
    position: absolute;
    height: 40px;
    width: 66px;
    left: 127px;
    top: 7px;
    background: url(../img/caminhao.png);
    background-repeat: no-repeat;
    background-size: 50px;
}
.grao{
    display: flex;
    position: absolute;
    height: 40px;
    width: 66px;
    left: 372px;
    top: 7px;
    background: url(../img/grao.png);
    background-repeat: no-repeat;
    background-size: 50px;
}
.cashback{
    display: flex;
    position: absolute;
    height: 40px;
    width: 66px;
    left: 652px;
    top: 7px;
    background: url(../img/carteira.png);
    background-repeat: no-repeat;
    background-size: 50px;
}
.etiqueta{
    display: flex;
    position: absolute;
    height: 40px;
    width: 66px;
    left: 902px;
    top: 7px;
    background: url(../img/etiqueta.png);
    background-repeat: no-repeat;
    background-size: 50px;
}
.presente{
    display: flex;
    position: absolute;
    height: 40px;
    width: 66px;
    left: 1160px;
    top: 7px;
    background: url(../img/presente.png);
    background-repeat: no-repeat;
    background-size: 50px;
}
.coffe-img{
    display: flex;
    position: absolute;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%), url(../img/graos.png);
    background-position: 42px 104px;
    background-repeat: no-repeat;
    background-size: 615px;
    width: 704px;
    height: 590px;
    left: 0px;
    top: 85px;
    color: white;
}
.catalog-coffee{
display: flex;
position: absolute;
width: 446px;
height: 60px;
left: 66px;
top: 365px;
}
.coffee-types{
    display: flex;
    position: absolute;
    top: 470px;
    left: 70px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.04em;
    
}
.acessorios-img{
    display: flex;
    position: absolute;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%), url(../img/bule.png);
    background-position: 42px 104px;
    background-repeat: no-repeat;
    background-size: 615px;
    width: 690px;
    height: 590px;
    left: 655px;
    top: 85px;
    color: white;
}
.acessorios{
    display: flex;
    position: absolute;
    width: 279px;
    height: 60px;
    left: 75px;
    top: 370px;
    color: white;
}
.acessorios-paragraph{
    display: flex;
    position: absolute;
    letter-spacing: 0.04em;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    top: 470px;
    left: 75px;
    color: white;
}
.find-us{
    display: flex;
    position: absolute;
    width: 100%;
    height: 750px;
    top: 4126px;
    left: 0px;
    background: #FFFFFF;
}
.find-a-store{
    display: flex;
    position: absolute;
    width: 470px;
    height: 60px;
    left: 56px;
    top: 0%;
}
.choose-city-info{
    display: flex;
    position: absolute;
    width: 180px;
    height: 28px;
    left: 20px;
    top: 7px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
}
.choose-city-box{
    display: flex;
    position: absolute;
    height: 50px;
    width: 410px;
    left: 58px;
    top: 16%;
    border: 2px solid #0B1D03;
    box-sizing: border-box;
    border-radius: 4px;
    background: #FFFFFF;
}
.down-arrow{
    display: flex;
    position: absolute;
    left: 91.43%;
    right: 21.43%;
    top: 39.29%;
    bottom: 32.14%;

}
.say-adress{
    display: flex;
    position: absolute;
    width: 820px;
    height: 50px;
    left: 500px;
    top: 16%;
    border: 2px solid #0B1D03;
    box-sizing: border-box;
    border-radius: 4px;
    background: #FFFFFF;
}
.say-adress-info{
    display: flex;
    position: absolute;
    width: 180px;
    height: 28px;
    left: 20px;
    top: 7px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
}
.search{
    display: flex;
    position: absolute;
    left: 96.86%;
    right: 17.86%;
    top: 26.86%;
    bottom: 17.86%;
}
.search-map{
    display: flex;
    position: absolute;
    width: 1261px;
    height: 512px;
    left: 59px;
    top: 26%;
}
/*Footer*/
a{
    text-decoration: none;
    color: #1F1F1F;
}
.footer-container{
    display: flex;
    position: absolute;
    width: 100%;
    height: 200px;

}
.footer{
    display: flex;
    position: relative;
    width: 1348px;
    height: 306px;
    background: #F7F1E6;
    top: 4872px;
    right: 7px;
}

.list_1{
    display: flex;
    flex-direction: column;
    position: relative;
    line-height: 35px;
    list-style: none;
    margin-left: 218px;
    top: 66px;
    font-family: 'Lato';
}   
.list_2{
    display: flex;
    flex-direction: column;
    position:relative;
    line-height: 35px;
    list-style: none;
    padding-left: 200px;
    top: 66px;
    font-family: 'Lato';
}
.list_3{
    display: inline-flex;
    position: absolute;
    width: 268px;
    height: 39px;
    left: 74%;
    top: 66px;   
    font-family: 'Lato';
}
.logo_1{
    display: flex;
    position: relative;
    top: 60px;
    right: 140px;
    
}
.logo_2{
    display: flex;
    position: relative;
    top: 60px;
    right: 126px;
    
}
.logo_3{
    display: flex;
    position: relative; 
    top: 60px;
    right: 115px;
   
}
.brand_8{
    display: flex;
    position: relative;
    width:  1355px;
    height: 68px;
    top: 238px;
    right: 429px;
    margin-left: 0px;
    background-color:#F7F1E6;
}
.designed-by{
    display: flex;
    left: 124px;
    align-items: center;
}
.logo_mentorama{
    display: flex;
    position: relative;
    width: 159.8px;
    height: 19.24px;
    left: 261px;
    top: 21px;
    background: url(../img/mentorama..png);
    background-repeat: no-repeat;
}
.list_title{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    align-items: center;
    color: #1F1F1F;
}
h3{
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 28px;
    align-items: center;
    color: #FFFFFF;
}
.blackcoffee{
    display: flex;
    position: relative;
    left: 80px;
    top: 26px;
    font-size: 28px;
}


